html{
    background-color:yellow;
    font-size:130%;
}
h1{font-size:300%;
}
h2{color: blue;
font-family:courier;
}
p{
    background-color :rgba(128, 255, 185, 1);
    font-family:courier;
}

.ly{
    text-align: center;
}
.ay{
	width:30%;
}
.loa{
   color:red;
   font-family: courier;
}
ol{ display: inline-block; text-align: left; 
}
ol{
    display: inline-block; text-align: left;
}